@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body a {
    text-decoration: none;
}

button a {
    text-decoration: none;
}

table.dataTable a {
    text-decoration: none;
}
